.margin() {
    margin-left: 25px;
    margin-right: 25px;
}

.user-center-add-car-index {
    .pageFlex();

    .content {
        .pageContentFlex();

        &>p {
            color: @orange;
            font-size: 12px;
            margin-bottom: 10px;
            text-align: center;

            .margin();
        }

        .ready, .current, .wait {
            border: 1px solid #ddd;
            color: black;
        }
        .ready, .current {
            background: white;
        }
        .current {
            color: @blue;
            border-color: @blue;
        }
        .wait {
            background: #eee;
        }

        .button {
            .margin();
            margin-bottom: 15px;

            i {
                float: right;
            }
        }

        .number {
            .margin();
            display: flex;

            input {
                flex: 1;
                margin-left: 3px;
            }
        }

        .space {
            flex: 1;
        }
    }
}