@import './common.less';

@import './components/Header.less';
@import './components/Footer.less';
@import './components/addCar.less';
@import './components/service.less';
@import './components/Title.less';
@import './components/Button.less';

@import './pages/Appointment1.less';
@import './pages/Appointment2.less';
@import './pages/Appointment3.less';
@import './pages/AppointmentTime.less';
@import './pages/AppointmentAddress.less';
@import './pages/AppointmentSuccess.less';
@import './pages/LoginVerifyCode.less';
@import './pages/Login.less';
@import './pages/AppointmentEmergency1.less';
@import './pages/AppointmentEmergency2.less';
@import './pages/AppointmentEmergencySuccess.less';
@import './pages/UserCenter/Index.less';
@import './pages/UserCenter/AppointmentHistory.less';
@import './pages/UserCenter/AppointmentEmergencyHistory.less';
@import './pages/UserCenter/MyCar.less';
@import './pages/UserCenter/MyAddress.less';
@import './pages/UserCenter/MyInfo.less';
@import './pages/UserCenter/AccountSet.less';

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
}

.container {
    border-bottom: 1px solid #eaeaea;
    background: white;
    padding: 10px;
}