@root-dir: './';
@blue: #31b7ec;

.pageFlex() {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.pageContentFlex() {
    flex: 1;
    display: flex;
    flex-direction: column;
}


@import '@{root-dir}common.less';
@import '@{root-dir}fonts.less';

@import '@{root-dir}components/Header.less';
@import '@{root-dir}components/Footer.less';
@import '@{root-dir}components/addCar.less';
@import '@{root-dir}components/service.less';
@import '@{root-dir}components/Title.less';
@import '@{root-dir}components/Button.less';
@import '@{root-dir}components/Radio.less';

@import '@{root-dir}pages/Appointment/Appointment1.less';
@import '@{root-dir}pages/Appointment/Appointment2.less';
@import '@{root-dir}pages/Appointment/Appointment3.less';
@import '@{root-dir}pages/Appointment/AppointmentSuccess.less';
@import '@{root-dir}pages/AppointmentTime.less';
@import '@{root-dir}pages/AppointmentAddress.less';
@import '@{root-dir}pages/LoginVerifyCode.less';
@import '@{root-dir}pages/Login.less';
@import '@{root-dir}pages/AppointmentEmergency/AppointmentEmergency1.less';
@import '@{root-dir}pages/AppointmentEmergency/AppointmentEmergency2.less';
@import '@{root-dir}pages/AppointmentEmergency/AppointmentEmergencySuccess.less';
@import '@{root-dir}pages/UserCenter/Index.less';
@import '@{root-dir}pages/UserCenter/AppointmentHistory.less';
@import '@{root-dir}pages/UserCenter/AppointmentEmergencyHistory.less';
@import '@{root-dir}pages/UserCenter/MyCar.less';
@import '@{root-dir}pages/UserCenter/MyAddress.less';
@import '@{root-dir}pages/UserCenter/MyInfo.less';
@import '@{root-dir}pages/UserCenter/AccountSet/Index.less';
@import '@{root-dir}pages/UserCenter/AccountSet/SelfInfo.less';
@import '@{root-dir}pages/UserCenter/AccountSet/ModifyPhone.less';
@import '@{root-dir}pages/UserCenter/AddCar/Index.less';
@import '@{root-dir}pages/UserCenter/AddCar/SelectBrand.less';
@import '@{root-dir}pages/UserCenter/AddCar/SelectSeries.less';
@import '@{root-dir}pages/UserCenter/AddCar/SelectModel.less';

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
}

.container {
    border-bottom: 1px solid #eaeaea;
    background: white;
    padding: 10px;
}

.content {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.hide {
    display: none!important;
}