.button {
    border: none;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:active {
        background: rgba(100,100,100,0.1);
    }

    &.normal-button {
        background: @blue;
        color: white;
        padding: 5px 10px;
    }

    &.big-button {
        background: @blue;
        color: white;
        font-size: 16px;
        padding: 10px;
        margin: 0 10px 25px 10px;

        &.white {
            background: white;
            border: 2px solid #ddd;
            color: black;
        }

        &.blue-border {
            border: 2px solid @blue;
            color: black;
        }

        &:active {
            opacity: 0.9;
        }
    }

    &.disabled {
        color: white;
        background: gray;
    }
}