@footer-height: 60px;
.footer-component {
    display: -webkit-box;
    height: @footer-height;
    -webkit-box-align: center;
    background: #eaeaea;
    border-top: 1px solid #e0e0e0;

    .button {
        border: none;
        width: 70px;
        background: transparent;
        -webkit-box-flex: 1;
        display: block;
    }

    i {
        font-size: 30px;
    }
}