.list {
    margin: 0 25px;

    li {
        padding: 10px 0;
        font-size: 14px;
        display: flex;
        align-items: center;

        span, p {
            flex: 1;
        }
        p {
            line-height: 24px;
        }
        i {
            font-size: 26px;
            text-align: right;
        }

        .appointment {
            color: #ff6633;
        }
        .cancel {
            color: gray;
        }
    }
}