.list {
    margin: 0 25px;

    li {
        padding: 10px 0;
        font-size: 14px;
        display: flex;
        border-bottom: 1px dashed #00cacc;
        align-items: center;

        span, p {
            flex: 1;
        }
        p {
            line-height: 24px;
        }
        i {
            width: 35px;
            font-size: 26px;
            text-align: right;
        }
    }
}